*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;
    position: sticky;
}
.navLink{
    display: flexbox;
    flex-wrap: wrap;
    gap:10px;
    font-size: 18px;
    position: sticky;
    background-color: rgb(109, 245, 5);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.6s, color 0.3s;
}

.navLink:hover{
    background-color: rgb(255, 61, 2);
    color: rgb(0, 0, 0);
}
.navdiv{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
    list-style-type: none;
    display: flex;
    
}
header{
    background: linear-gradient(to right, #0c0c0c,#515354);
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    border-radius: 10rem;
    width: 100%;
    padding: 0px 10px 0px 0px;
    position: relative;
    top: 0;
    max-width: 100%;
    display: flexbox;
    flex-wrap: wrap;
    z-index: 10;
}
body{
    background: linear-gradient(to right,#3c3c3d,#757576);
    margin: 5px;
    min-height: 100vh;
    max-width: 100%;
    margin-right: 20px;
    height: 100%;
}

#mainLogo{
    border-radius: 7rem;
    height: 60px;
    max-width: 100%;
    position: sticky;
}
.navLink.active{
    background-color: rgb(255, 61, 2);
    border: 2px solid rgb(255, 255, 0);
}
.hamburger{
    display:none; 
    font-size:30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer; 
}
.hidden{
    display: none !important;
}
.vertical{
    display: flex !important;
    flex-direction: column;/*makes the navigation in column rather than in row*/
    flex-wrap: nowrap;
    background: radial-gradient(circle,black,rgb(143, 143, 143));
    position: absolute;
    align-items: stretch;
    top: 100%;
    right: 0;
    width: 250px;
    padding: 15px;
    gap: 15px;
    border-radius: 4rem;
}
.vertical li{
    list-style: none;
    width: 100%;
}
.vertical a{
    display:block;
    text-align: center;
    padding:10px 15px;
    box-sizing: content-box;
}

.hero{
    display: flex;
    height:90vh;
    width: 100%;
    background-image: url("hero.png");
    background-size:cover;
    background-position:center center;
    color:white;
    position: relative;
    margin: 7px;
    border-radius: 3rem;
    overflow: hidden;
    
}

.hero::after{
    content:"";
    /* to make sure it doesnt float around */
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);/*to make it dark*/
    z-index: 1;
    pointer-events: none;
}
.hcontent{
    position: relative;
    z-index: 2;
    max-width: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right:60px;
    padding-top: 110px;
    font-size: larger;
}
#hero_heading{
    font-size:60px;
    font-weight: bolder;
    animation: fadeInDown 3s ease-in-out;
}
@keyframes fadeInDown {
    0%{opacity: 0;transform: translateY(-20px);}
    100%{opacity: 1;transform: translateY(0);}
}
#hero_para{
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    color: #ffd700;
    animation: typing 7s steps(30,end) infinite,blink 0.5s step-end infinite;

}
@keyframes typing{
    from{width:0;}
    to{width:100%}/*type till 100% text is covered*/
}
@keyframes blink{
    from,to{border-color: transparent;}/*this makes that thing blink with curser*/
    50%{border-color: white;}
}
.scrDwn{
    font-size: 25px;
    animation: fadeInUp 2s ease-in-out;
}
@keyframes fadeInUp{
    0%{opacity: 0;transform: translateY(50px);}
    100%{opacity: 1;transform: translateY(0);}
}
#calcbtn{
    border-radius: 1rem;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid #ffd700;
    padding: 10px 20px;
    cursor: pointer;
    color: #88ff00;
    
    transition: background-color 0.3s, color 0.3s;
}
#calcbtn a{
    color: inherit;
    text-decoration: none;
}
#calcbtn:hover{
    background-color: #ffd700;
    color: #000;
}
#calcbtn img{
    width: 18px;
    height: 21px;
    margin-left: 5px;
    vertical-align: middle;
    animation: spin 3s linear infinite;
    
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

#s_Heading{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 3);
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
    animation: fadeInDown 3s ease-in-out;
}

.service{
    /* makes the card in the centre and divide them all in equal section */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
    border-radius: 3rem;
    background: linear-gradient(to right,#272728,#5a5a5b);
}
.s_card{
    background: #99999a;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    animation: fadeInUp 3s ease-in-out;
}
.s_card:hover{
    transform: translateY(-10px);
    border: 2px solid #ffd700;
}
.s_title{
    font-size: 24px;
    font-weight: bold;
}
.s_content{
    opacity: 0;/* so this will hide the contents */
    transition: opasity 0.3s;
}
.s_card:hover .s_content{/*cool thing-->so when i hover the contents opacity changes */
    opacity: 1;
}
.s_content a{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color:#000000;
    border-radius: 3rem;
    padding: 10px 20px;
    text-decoration: none;
    background: linear-gradient(to right,#f86300,#fcf701);
}
.s_content a:hover{
    background: linear-gradient(to right,#ca5582,#ba63ed);;
}
/* now for service tab */
.main_heading{
    font-size: 48px;
    text-align: center;
    margin: 30px 0;
    color: #ffd700;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.7);
}
.service_tab{
    height: 100vh;/*esential to coverup whole thing*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #3c3c3d,#757576);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 3rem;
    margin: 0;
}

.service_tab h2{
    font-size: 36px;
    margin-bottom: 10px;
    display: none;/*none because it has animation written in script*/
}
.service_tab p{
    font-size: 18px;
    max-width: 100%;
    display: none;
}
.service_tab.visible{
    opacity:1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}
.service_tab h2, .service_tab p{
    display: block;
}
.service_tab.hidden{
    opacity: 0;
    pointer-events: none;
    transition: opacity o.5s ease;
}
#p_banking,#b_banking,#loan,#insurance{
    background: linear-gradient(to right,#1a3361,#5c92ef);
}
.service_Content{
    padding: 20px 0;
}
html,body{
    height: 100%;
}
