*{
    padding:20;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    position: sticky;
    
}
.navLink{
    font-size: 20px;
    background-color: orange;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 7rem;
}
.navLink:hover{
    background-color: rgb(235, 194, 15);
    color: rgb(76, 0, 255);
}
header{
    background: linear-gradient(135deg, #0c0c0c,#515354);
    color: transparent;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10rem;
    width: 120%;
    padding: 10px;

}
body{
    background: linear-gradient(2rad,#373738,#868687)
}
#mainLogo{
    border-radius: 7rem;
    
}
